<form method="post" action="{{ path('compte_delete', {'email': compte.email}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte.email) }}">
    <button class="btn">Delete</button>
</form>
