{% extends 'back.html.twig' %}

{% block title %}Modifier Programme Alimentaire{% endblock %}

{% block header %}Modifier Programme Alimentaire{% endblock %}

{% block breadcrumb %}Modifier Programme Alimentaire{% endblock %}

{% block body %}
    <div class="box">
        <div class="box">

            <div class="box-body">

                {{ include('programmealimentaire/_form.html.twig', {'button_label': 'Update'}) }}

                {{ include('programmealimentaire/_delete_form.html.twig') }}

            </div>
        </div>
    </div>
{% endblock %}
