<form method="post" action="{{ path('alimentassocie_delete', {'idaliment': alimentassocie.idaliment}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alimentassocie.idaliment) }}">
    <button class="btn">Delete</button>
</form>
