{% extends 'base.html.twig' %}

{% block title %}New Exerciceassocie{% endblock %}

{% block body %}
    <h1>Create new Exerciceassocie</h1>

    {{ include('exerciceassocie/_form.html.twig') }}

    <a href="{{ path('exerciceassocie_index') }}">back to list</a>
{% endblock %}
