.shopinput{
	-fx-background-color: #171636;
	-fx-border-width: 2; 
        -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
	-fx-text-fill: #ffffff;
	-fx-font-size: 12;
}

.pagetitle{
	-fx-font-family: "Montserrat ExtraBold";
	-fx-text-fill: #ffffff; 
	-fx-font-size: 24;
}

.resultstext{
	-fx-font-family: "Montserrat ExtraBold";
	-fx-text-fill: #86939E; 
	-fx-font-size: 13;
}

.Input{
	-fx-background-color: #171636;
	-fx-border-width: 2; 
    -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
	-fx-text-fill: #ffffff;
	-fx-font-size: 12;
}


.btnclick:hover{
	-fx-cursor: hand;
}

.Inputsearch{
	-fx-background-color: #171636;
	-fx-border-width: 2; 
    -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
	-fx-text-fill: #ffffff;
	-fx-font-size: 12;
}

.Inputsearch FontAwesomeIcon{
	-fx-text-fill: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
	-fx-font-size: 12;
}

.Inputsearchbox{
	-fx-background-color: #171636;
	-fx-text-fill: #ffffff;
	-fx-font-size: 12;
}

.Labelsidebar{
	-fx-font-family: "Play";
	-fx-text-fill: #86939E; 
	-fx-font-size: 15;
	-fx-padding: 0px 0px 0px 10px;
    -fx-border-insets: 0px 0px 0px 10px;
    -fx-background-insets: 0px 0px 0px 10px;
}


.Inputsidebar{
	-fx-background-color: #171636;
	-fx-border-width: 2; 
    -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
	-fx-text-fill: #ffffff;
	-fx-font-size: 12;
}

.Inputsidebar .content{
      -fx-background-color: #171636;
}

.btnsidebar{
	-fx-font-family: "Play";
	-fx-background-color:  linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
	-fx-text-fill: #ffffff;
	-fx-font-size: 15;
}
  
  
  
  
  
.table-view{
   -fx-background-color: transparent;
   -fx-border-width: 1;
   -fx-table-header-border-color: transparent;
   -fx-table-cell-border-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: linear-gradient( #282840 0%, #282840 100%);
	-fx-border-color:  #464859;
	-fx-border-width: 2 2 2 2;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header:empty {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-view .table-column {
  -fx-alignment: CENTER;
  -fx-border-width: 0;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color,  #282840;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #464859;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
	-fx-text-background-color: red;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:odd:filled {
    /*-fx-background-color: #282840;*/
}

.table-row-cell:even:filled {
   /* -fx-background-color: transparent;*/
}

.choice-box .context-menu { -fx-background-color: #171636; }
.choice-box .menu-item:focused { -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243)); }
.choice-box .menu-item > .label { -fx-text-fill: white; }
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

.choice-box {
  -fx-background-color: #171636;
  -fx-border-width: 2; 
  -fx-border-color: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
  -fx-mark-color: linear-gradient(from 25% 25% to 100% 100%, rgb(121, 99, 250), rgb(162, 78, 243));
}

.choice-box > .label { -fx-text-fill: white; }