{% extends 'back.html.twig' %}

{% block title %}Nouvel Aliment{% endblock %}

{% block header %}Nouvel Aliment{% endblock %}

{% block breadcrumb %}Nouvel Aliment{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Ajouter un Aliment</h3>
        </div>

        <div class="box-body">
            {{ include('aliment/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
